:root{
    --shadow-header: 0px 0px 16px 0px rgb(0 0 0 / 10%);
    --text-color: #252525;
    --text-placeholder: #898b8d;
    --back-color:#f7941d;
    --hover-color: #f7941d;
}

.b-color{
    border: 2px solid;
    border-color: rgb(247 148 29);
}

/* Animations */
@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes rotateXIn{
    from{
        opacity: 0;
        transform: perspective(600px) rotateX(-90deg);
    }
    to{
        opacity: 1; 
        transform: rotateX(0deg);
    }
}

@keyframes rotateXOut{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(-90deg);
        opacity: 0;
    }
}


/* header logo */
.header .logo{
    text-align: center;
}
.header-main .logo img{
    width: 100px;
}

/* header seacrh */
.search-form{
    width: fit-content;
}
.header-main .search input[name="query"]{
    border-radius: 5px;
    padding: 10px 15px;
    outline: unset;
    width: 390px;
    font-size: 13px;
}
.header-main .search input[name="query"]::placeholder{
    font-size: 0.75rem;
    font-family: sans-serif;
    color: var(--text-placeholder);
}
.btn-search{
    width: 50px;
    height: 50px;
    background-color: var(--back-color);
    position: relative;
    cursor: pointer;
}
.btn-search i{
    color: #fff;
    font-size: 1.3rem;
}

/* header account */
.account span{
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 0.75rem;
}
.line_{
    margin: 0px 10px;
    color: #c2c2c2;
    font-size: 14px;
    font-weight: bold;
}
.account-hover:hover span{
    color: var(--hover-color);
    transition: all .2s linear;

}
.cart{
    cursor: pointer;
}
.cart:hover .cart-content{
    display: block;
    transition: all.2s ease-in;
}
.cart i{
    font-size: 1.375rem;
    color: var(--back-color);
}
.cart-quantity{
    background-color: #000084;
    width: 23px;
    height: 23px;
    left: 33px !important;
    top: 2px !important;
}
.cart-quantity span{
    font-size: 0.813rem;
    color: #fff;
}
.cart-content{
    width: 300px;
    max-width: 300px;
    max-height: 630px;
    z-index: 1;
    background-color: #fff;
    box-shadow: 0px 0px 5px 1px #ccc;
    padding: 15px;
    display: none;
}
.cart-content_lst{
    margin-top: 10px;
    margin-bottom: 20px;
    max-height: 200px;
    overflow-y: scroll;
}
.cart-content_item i{
    cursor: pointer;
    color: #707070;;
    font-size: 0.938rem;
    font-weight: bold;
    height: fit-content;
}
.cart-content_item i:hover{
    color: var(--hover-color);
    transition: all .2s linear;
}
.cart-content_item .decribe a{
    color: #707070;
    font-size: 0.875rem;
}
.cart-content_item .decribe a:hover{
    color: var(--hover-color);
    transition: all .2s linear;
}
.cart-content_item .price span:first-child{
    font-size: 0.938rem;
    color: #f7941d;
}
.cart-content_item .price span:last-child{
    color: #acacac;
    font-size: 0.875rem;
    padding-left: 5px;
}
.cart-content_item .img{
    margin: 0px 20px 0px 10px;
}
.cart-content_total{
    border-top: 1px solid #ebebeb;
}
.cart-content_total-cal span:first-child{
    color: var(--text-color);
    font-weight: 700;
    font-size: 1rem;
}
.cart-content_total-cal span:last-child{
    font-size: 0.938rem;
    color: #f7941d;
}
.cart-content_to-cart button{
    background-color: var(--back-color);
    border: unset;
    padding: 10px 0px 10px 0px;
    font-weight: 600;
}
.cart-content_to-cart button:hover{
    background-color: #d97a08;
    transition: all .2s linear;
}

/* header containers */
.category-icon{
    padding: 12px;
    padding-left: 20px;
    border-radius: 5px;
    background-color: var(--back-color);
    color: #fff;
    width: 265px;
    max-width: 265px;
    cursor: pointer;
}
.category-prd{
    width: 100%;
}
.category-icon span{
    font-size: 0.875rem;
    text-transform: uppercase;
}
.category-prd ul{
    box-shadow: 0px 0px 4px 0px #ccc;
}
.category-prd_item{
    cursor: pointer;
    padding-left: 22px;
}
.category-prd_item i{
    color: #f9a332;
}
.category-prd_item span{
    font-size: 0.875rem;
}
.category-prd_item:hover{
    background-color: #f9a332;
    color: #fff;
    transition: all .2s linear;
}
.category-prd_item:hover i{
    color: #fff;
}

/* Containers for header */
.containers .nav{
    justify-content: center;
    padding-right: 16px; 
}
.containers .nav li{
    position: relative;
}
.containers ul li::before{
    content: "";
    position: absolute;
    width: 45%;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto;
    width: 25px;
    height: 3px;
    background: #ccc;
    display: none;
}
.nav-link{
    color: var(--text-color);
}
.nav-item:hover a{
    color: var(--hover-color);
    transition: all .1s linear;
}
.nav-item:hover::before{
    display: block;
    animation: scaleIn .15s linear; 
}

.link_active::before{
    content: "";
    position: absolute;
    width: 45%;
    left: 0;
    right: 0;
    bottom: 0px;
    margin: auto;
    width: 25px;
    height: 3px;
    background: #ccc;
}
.sub-menu{
    width: 215px;
    transform-origin: top;
    box-shadow: 0 1px 2px 2px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #fff;
    animation: rotateXOut .3s linear forwards;
}
.sub-menu ul{
    border-radius: unset;
   

}
.sub-menu_item{
    border-color: var(--hover-color) !important;
    margin: 0px 20px;
    padding-right: unset;
    padding-left: unset;
    cursor: pointer;
}
.sub-menu_item:hover{
    color: var(--hover-color);
    transition: all .15s linear;
}
.product_menu:hover .sub-menu{
    perspective-origin: left;
    animation: rotateXIn .3s linear forwards;
}

/* Hotline header */
.hotline{
    padding-left: 32px;
}
.hotline i{
    font-size: 1.438rem;
    color: var(--back-color);
}
.hotline_num{
    font-size: 1.5rem;
    color: #000084;
    font-weight: 500;
}
.hotline_num:hover{
    color: var(--hover-color);
    transition: all .15s linear;
}.search-results{
       width: 99%;
    display: flex;
    align-items: center;
    position: absolute;
    background-color: #ffffff;
    z-index: 2;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 0 2px;
    border-radius: -1px;
    right: 0;
    top: 53px;
}
.search-results:hover{
        background-color: #eaeaea;

}
.search-results .product-status{
    font-size: 13px;
    color: rgb(164 164 164);
}
.search-results img{
        width: 60px;
        height: 60px;
    object-fit: cover;
    border-radius: 50%;
}
.information-search{
    width: 72%;
    height: 46px;
        display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
        margin-bottom: 14px;
}
.information-search span {
        width: 100%;
    height: 21px;
    padding: 0 !important;
}
.information-search .product-Name {
        font-size:17px;
        margin-bottom: 4px

}
.information-search .product-price{
    font-size:12px;
    color: rgb(245, 56, 56);
    margin-bottom: 4px;
}

.ticker{
    width: fit-content;
    padding: 20px;
    background: #f3ebf0;
    opacity: .8;
    position: fixed;
    bottom: 0px;
    right: 0px
}
.clock {
    width: 300px;
    margin: 0 auto;
    padding: 10px;
    color: rgb(10, 10, 10);
    position: fixed;
    bottom: 0;
    right: 0;
}

#Date {
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-align: center;
    text-shadow: 0 0 5px #00c6ff;
}

.ultime {
    width: 100%;
    margin: 0 auto;
    padding: 0px;
    list-style: none;
    text-align: center;
}

.ultime>li {
    display: inline;
    font-size: 2em;
    text-align: center;
    font-family: 'BebasNeueRegular', Arial, Helvetica, sans-serif;
    text-shadow: 0 0 5px #00c6ff;
}
